# Dependencies
node_modules/
/.next/
/out/
build/
dist/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python Caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
ENV/

# System Files
.DS_Store
Thumbs.db

# Cryptographic Keys (in case users accidentally generate them in project folder)
*.pem
*.key
*.priv
*.txt
burner_secret*.json
